<div class="page">
  <div class="text_block_one">
    <div class="text_block">
      <h2 class="head_text">#HaltTheSilence By Joining Us!</h2>

      <h4>We have one goal at #HaltTheSilence: To change how media discusses and portrays LGBTQ+ characters and themes. And we need help — your help! </h4>

      <h4>We’re looking for content creators of all kinds to join us. Want to discuss LGBTQ+ tropes and media and why they need to stop? Maybe you just want to discuss your favorite LBGTQ+ characters. If so, we want to see it! We’d love to showcase your work on our upcoming blog and share it with our followers.</h4>

      <h4>Don’t forget to tag or @ us on social media via #HaltTheSilence if you have something you want to promote or have news to share. We’re also interested in promoting and sharing campaigns that are working on or showcasing LGBTQ+ media. </h4>
    </div>
  </div>
  <br>
  <div class="video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/9YHu-uOlGDc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="text_block_one">
    <div class="text_block">
      <h2 class="head_text">Join Our Team</h2>
      <h4>We’re also looking for help in the following roles:</h4>
      <ul class="a_list">
        <li>Writer</li>
        <li>Artist</li>
        <li>Art designer</li>
        <li>UX designer</li>
        <li>Video Editor</li>
      </ul>
      <h2>Contact Us</h2>
      <h4>If interested, please email us at info@haltthesilence.com with your information (name, social media handles, what you’re interested in producing). </h4>
    </div>
  </div>
  <h3>Disclaimer: </h3>
  <h5>#HaltTheSilence was created by fans, for fans. At this time, we cannot offer monetary compensation for your work, only our eternal gratitude. Thank you.</h5>
  <h2 class="form_header">Send Us A Message!</h2>
  <%= form_for @message do |p| %>
    <div class="row">
      <%= p.label :name, 'Name', class: 'form-actions' %>
      <%= p.text_field :name, class: 'text_field' %>
    </div>
    <div class="row">
      <%= p.label :email, 'Email', class: 'form-actions' %>
      <%= p.text_field :email, class: 'text_field' %>
    </div>
    <div class="row">
      <%= p.label :body, 'Message', class: 'form-actions' %>
      <%= p.text_area :body, class: 'text_area' %>
    </div>
    <div class="form-actions">
      <%= p.button 'Send' %>
    </div>
  <% end %>
</div>
