<div class="front-page">
  <div class="text_block">
    <% @profiles.each do |f| %>
        <h4><%= f.text_one %></h4>
        <h4><%= f.text_two %></h4>
        <iframe class="embed-responsive-item" src="https://youtu.be/aXI_hdCddNQ" frameborder="0" allowfullscreen=""></iframe>
        <h4><%= f.text_three %><a href="https://luxshine.tumblr.com/post/635890005693333504/y-yo-a-ti-cas-segunda-parte-because-of-course"> (Read more here)</a></h4>
        <h4><%= f.text_four %></h4>
        <h4><%= f.text_five %></h4>
        <h4><%= f.text_six %></h4>
    <% end %>
  </div>
  <div class="to_do_list">
    <h2 class="to_do_header">5 Steps You Can Take</h2>
    <ul>
      <% @steps.each do |s| %>
        <li><%= s.text %></li>
      <% end %>
    </ul>
  </div>
</div>
