<% if current_user.admin? %>
<%= link_to 'Back to Article', article_path(@article.id) %>
  <div class='page'>
    <% if @article.errors.any? %>
      <div>
        <h2><%= pluralize(@article.errors.count, "error") %> prohibited this info from being saved:</h2>
        <ul>
          <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <h1 class="form_header">Update Article</h1>
    <%= form_for @article do |a| %>
      <div class="row">
        <%= a.label :picture, 'Picture', class: 'form-actions' %>
        <%= a.file_field :picture, class: 'text_field' %>
      </div>
      <div class="row">
        <%= a.label :title, 'Title', class: 'form-actions' %>
        <%= a.text_field :title, class: 'text_field' %>
      </div>
      <div class="row">
        <%= a.label :author, 'Author', class: 'form-actions' %>
        <%= a.text_field :author, class: 'text_field' %>
      </div>
      <div class="row">
        <%= a.label :url, 'URL', class: 'form-actions' %>
        <%= a.text_field :url, class: 'text_field' %>
      </div>
      <div class="row">
        <%= a.label :body, 'Body', class: 'form-actions' %>
        <%= a.text_area :body, class: 'text_area' %>
      </div><div>
        <h3>Click on the tag you want to remove:</h3>
        <% @article_tag.each do |at| %>
          <% if at.article_id == @article.id %>
            <p><%= link_to at.tag.tag, article_tag_path(at.id), data: { confirm: 'Are you sure you want to remove this tag: %{word}' % { word: at.tag.tag} }, method: :delete, :class => 'user_links' %> <br />
          <% end %>
        <% end %>
        <%= link_to 'Add New Tag', new_article_tag_path %>
      </div>
      <div class="form-actions">
        <%= a.button 'Submit' %>
      </div>
    <% end %>
  </div>
<% end %>
