<br>
<div class="head_text">
  <h1 class="title is-1 is-family-secondary">Articles</h1>
</div>
<br>
<div class="container">
  <% @articles.each do |a| %>
    <div class="card">
      <header class="card-header">
        <p class="card-header-title is-centered">
          <%= a.title %>
        </p>
      </header>
      <div class="card-content">
        <div class="media">
           <div class="media-left">
             <figure class="image is-128x128">
               <img <%= image_tag (a.picture.url) %>
             </figure>
           </div>
           <div class="media-content">
             <p class="content is-medium"><%= truncate(a.body, length: 100, escape: false) %></p>
           </div>
         </div>
        <div class="content">
          <br>
          <time><%= a.created_at.strftime("%B %d, %Y") %></time>
        </div>
      </div>
      <footer class="card-footer">
        <%= link_to "Read", article_path(a.id), :class=>"card-footer-item" %>
      </footer>
    </div>
    <br>
  <% end %>
</div>
