<div class="page">
  <%= link_to 'Back to Article Index', articles_path %>
  <h2><%= @article.title %></h2>
  <img class="article_picture" <%= image_tag (@article.picture.url) %>
  <div class="blog_article">
    <h3>By: <%= @article.author %></h3>
    <% if @article.url != '' %>
      <h3>Find this article at <%= @article.url %></h3>
    <% end %>
    <p><%= simple_format @article.body %></p>
    <div>
      <% @article_tags.each do |at| %>
        <% if at.article_id == @article.id %>
          <%= at.tag.tag %>
        <% end %>
      <% end %>
    </div>
    <% if current_user.admin? %>
      <%= link_to edit_article_path do  %>
        <i class="far fa-edit fa-2x"></i>
      <% end %>
      <%= link_to article_path, data: { confirm: "Are you sure?" }, method: :delete do %>
        <i class="far fa-trash-alt fa-2x"></i>
      <% end %>
    <% end %>
  </div>
</div>
