<div class="container">
  <br>
  <section class="has-text-centered">
    <button class="button has-background-white"><%= link_to 'Back to Article Index', articles_path %> </button>
  </section>
  <br>
  <section class="section has-background-warning">
    <div class="columns">
      <div class="column">
        <figure class="image is-5x4">
          <%= image_tag (@article.picture.url) %>
        </figure>
      </div>
      <div class="column">
        <br><br><br><br>
        <h2 class="title has-text-white has-text-centered is-family-secondary is-size-1"><%= @article.title %></h2>
        <br>
        <h2 class="subtitle has-text-white">By: <%= @article.created_at %></h2>
        <h2 class="subtitle has-text-white">By: <%= @article.author %></h2>
        <% if @article.url != '' %>
          <h2 class="subtitle has-text-white">Find this article at: <%= link_to @article.url %></h2>
        <% end %>
        <br>
      </div>
    </div>
  </section>
  <section>
    <br>
    <p><%= simple_format @article.body %></p>
    <div>
      <% @article_tags.each do |at| %>
        <% if at.article_id == @article.id %>
          <%= at.tag.tag %>
        <% end %>
      <% end %>
    </div>
  </section>
</div>
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <%= link_to edit_article_path do  %>
          <i class="far fa-edit fa-2x"></i>
        <% end %>
        <%= link_to article_path, data: { confirm: "Are you sure?" }, method: :delete do %>
          <i class="far fa-trash-alt fa-2x"></i>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
