<% if current_user.admin? %>
  <div class='page'>
    <% if @post.errors.any? %>
      <div>
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this info from being saved:</h2>
        <ul>
          <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <h1 class="form_header">New Post</h1>
    <%= form_for @post do |p| %>
      <div class="row">
        <%= p.label :title, 'Title', class: 'form-actions' %>
        <%= p.text_field :title, class: 'text_field' %>
      </div>
      <div class="row">
        <%= p.label :author, 'Author', class: 'form-actions' %>
        <%= p.text_field :author, class: 'text_field' %>
        <%= p.label :catagory, 'Catagory', class: 'form-actions' %>
        <%= p.select :catagory, options_for_select([['Normal', 'normal'], ['Guest', 'guest'], ['Other', 'other'], ['Picture', 'picture']]) %>
      </div>
      <h3>Only upload picture if picture catagory is selected</h3>
      <div class="row">
        <%= p.label :picture, 'Picture', class: 'form-actions' %>
        <%= p.file_field :picture, class: 'text_field' %>
      </div>
      <div class="row">
        <%= p.label :body, 'Body', class: 'form-actions' %>
        <%= p.text_area :body, class: 'text_area' %>
      </div>
      <div>
        <%= link_to 'Add New Tag', new_post_tag_path %>
      </div>
      <div class="form-actions">
        <%= p.button 'Submit' %>
      </div>
    <% end %>
  </div>
<% end %>
