<!DOCTYPE html>
<html>
  <head>
    <title>HaltTheSilence</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <script src="https://kit.fontawesome.com/877c4451bf.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <%= image_tag 'halt the silence.jpg', {class: 'header-picture'} %>
      <div class="blue">
        <a href="https://haltthesilence.tumblr.com/" target="_blank"><i class="fab fa-tumblr"></i></a>
        <a href="https://twitter.com/HaltTheSilence" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://vm.tiktok.com/ZMJCvxoXt/" target="_blank"><i class="fab fa-tiktok"></i></a>
        <a href="https://www.instagram.com/haltthesilence/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/channel/UCXhihcdsLpu_JcqYLAQ9MUA" target="_blank"><i class="fab fa-youtube"></i></a>
      </div>
<!-- Top Navigation Menu -->
      <div class="topnav">
        <a href="#home" class="purple"></a>
        <!-- Navigation links (hidden by default) -->
        <div id="myLinks">
          <%= link_to "Home", statements_path %>
          <%= link_to "About Us", statement_path(1) %>
          <%= link_to "Get Involved", new_message_path %>
          <%= link_to "Privacy Policy", policies_path %>
          <% if user_signed_in? %>
            <%= link_to "User Home", user_path(current_user) %>
          <% end %>
        </div>
        <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </header>
    <%= yield %>
  </body>
  <footer>
    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, {method: :delete} do %>
        <img src="https://img.icons8.com/color/48/000000/lgbt-flag.png" class="icon"/>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path do %>
        <img src="https://img.icons8.com/color/48/000000/lgbt-flag.png" class="icon"/>
      <% end %>
      <% end %>
    <a href="https://icons8.com/icon/32414/lgbt-flag" class="credit">LGBT Flag icon by Icons8</a>
  </footer>
</html>

<script type="text/javascript">
  function myFunction() {
  var x = document.getElementById("myLinks");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
</script>
