<!DOCTYPE html>
<html>
  <head>
    <title>HaltTheSilence</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <script src="https://kit.fontawesome.com/877c4451bf.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <%= image_tag 'halt the silence.jpg', {class: 'header-picture'} %>
      <div class="blue">
        <a href="https://haltthesilence.tumblr.com/" target="_blank"><i class="fab fa-tumblr"></i></a>
        <a href="https://twitter.com/HaltTheSilence" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://vm.tiktok.com/ZMJCvxoXt/" target="_blank"><i class="fab fa-tiktok"></i></a>
        <a href="https://www.instagram.com/haltthesilence/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/channel/UCXhihcdsLpu_JcqYLAQ9MUA" target="_blank"><i class="fab fa-youtube"></i></a>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
