<!DOCTYPE html>
<html>
  <head>
    <title>HaltTheSilence</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <script src="https://kit.fontawesome.com/877c4451bf.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <%= image_tag 'HaltTheSilenceHalo.jpg', {class: 'header-picture'} %>
    </header>
    <%= yield %>
    <br>
    <footer>
        <a href="www.HaltTheSilence.tumblr.com"><i class="fab fa-tumblr"></i></a>
        <a href="https:/twitter.com/haltthesilence"><i class="fab fa-twitter"></i></a>
        <a href="https://vm.tiktok.com/ZMJCvxoXt/"><i class="fab fa-tiktok"></i></a>
        <a href="https://www.instagram.com/haltthesilence/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/channel/UCXhihcdsLpu_JcqYLAQ9MUA"><i class="fab fa-youtube"></i></a>    
        <h4>For Fans, By Fans</h4>
    </footer>
  </body>
</html>
